@charset "UTF-8";

html {
    font-size: 100%;
}

body {
    background-color: #011039;
    font-family: sans-serif;
}

img {
    max-width: 100%;
    vertical-align: bottom;
}

li {
    list-style: none;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    opacity: 0.7;
}

h1 {
    font-size: 40px;
    font-family: "Architects Daughter", serif;
}


/* ------------------------------
All
------------------------------ */

/* .main-index,
.main-about {
    background: #789DBC;
}

.main-contact {
    background: #FEF9F2;
    text-align: center
}

.my-img {
    height: 200px;
    width: 200px;
}

h1 {
    font-size: 40px;
    font-family: "Architects Daughter", serif;
} */


/* ------------------------------
index.html
------------------------------ */
/* header */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header a {
    display: block;
}

#header .navi {
    display: flex;
    align-items: center;
}







/* ------------------------------
motivation-word.html
------------------------------ */
.motivate-body {
    background-color: black;
}

.motivate-div {
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    color: white;
    font-family: "Libre Baskerville", serif;
    text-align: center;
}

#beach {
    width: 100%;
    border: 5px solid white;
}

.motivate-h1 {
    text-transform: uppercase;
}


/* ------------------------------
my-dall-e.html
------------------------------ */
.dalle-first {
    background: purple;
    border: 10px solid black;
    padding: 100px;
    width: 50px;
    height: 50px;
    position: relative;
}

.cafeterrace-vangogh {
    width: 250px;
    position: absolute;
    top: 0px;
    right: 0px;
}

.dalle-second {
    background: green;
    border: 10px solid black;
    padding: 100px;
    width: 50px;
    height: 50px;
    margin-left: 270px;
    position: relative;
}

.beach2 {
    width: 250px;
    position: absolute;
    top: 0px;
    right: 0px;
}

.dalle-third {
    background: yellow;
    border: 10px solid black;
    padding: 100px;
    width: 50px;
    height: 50px;
    position: relative;
}

/* .koala-pig-sloth {
    width: 250px;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 0;
} */

.koala-pig-sloth {
    width: 250px;
    position: fixed;
    bottom: 18px;
    left: 18px;
}